/* ./styles/globals.css */
:root {
  /* Colors */
  --red-light: #d30051;
  --red-default: #93043B;
  --red-dark: #75002d;
  --gray-light: #c8c8c8;
  --gray-default: #959595;
  --gray-dark: #5d5d5d;
  --black: #000;
  --white: #fff;
}

 @tailwind base;
@layer base {
  legend {
    @apply flex justify-center mb-5 font-extrabold text-3xl text-red-dk uppercase;
  }

  label {
    @apply block uppercase text-gray-dk text-sm font-bold mb-2;
  }
}

@tailwind components;
@layer components {
  input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 mb-3 text-gray-700 leading-tight focus:outline-none;
  }

  .btn {
    @apply w-full bg-red-dk hover:bg-gray-def uppercase text-black font-bold py-2 rounded; 
  }

  form {
    @apply bg-white shadow-md rounded p-5 m-2;
  }

  select{
    @apply border-2 border-gray-dk w-tq text-2xl;
  }
}

@tailwind utilities;

  @layer utilities {
    input {
    focus:shadow-outline;
    }
  } 

